body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 0.75rem;
}

.nav-item {
    font-weight: bold;
    cursor: pointer;
}
