body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;

    background-color: #efefef;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
}

.menu {
    margin-left: -15px;
    margin-right: -15px;
}

.page {
    background-color: white;
    min-height: 95vh;
}

.nav-item {
    cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, .85)
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 1.00)
}
